<!--<ul class="global-search-bar">-->

  <!--<li class="field">
      <input data-typeahead-global id="global-search" type="text" placeholder="Search artists and albums">
      <input id="global-search" type="text" placeholder="Search artists and albums">
  </li>-->
  <li><input type="search" placeholder="Search artists & albums"></li>
  <li><button type="button" class="button hide-for-medium-down">Search</button></li>

<!--</ul>-->
