@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="container-fluid">
        <h1>July Soundcheck</h1>
        <h2>31 Albums in 31 Days</h2>
        <p class="lead">July Soundcheck is one part music discovery, one part endurance test. Listen to new bands, find people with similar interests, write a lot of reivews.</p>
        <p><a href="@Url.Action("Create","Users")" class="btn btn-primary btn-lg">Register &raquo;</a>
            <a href="@Url.Action()" class="btn btn-secondary btn-lg">Log in &raquo;</a>
        </p>
    </div>
</div>

