<row>
  <div class="jumbotron-container large-12 columns">
      <div class="jumbotron">
        <h1>July Soundcheck</h1>
        <h3>31 Days, 31 Albums, Thousands of Reviews</h3>
        <%= link_to "Register", new_user_path, class: "welcome-register-button" %>
        <%= link_to "Log in", new_session_path, class: "welcome-signin-button" %>
      </div>
  </div>
</row>
<row>
  <div class="welcome-recent-tweets large-12 columns">
    TWEET TWEET TWEET #JulySoundcheck
  </div>
</row>
<row>
  <div class="large-4 columns">
    <h4>Daily music discovery</h4>
    <p>Listen to an album you never would have before every day in July, write a review about it, and find your new favorite artists</p>
  </div>
  <div class="large-4 columns">
    <h4>Review with friends</h4>
    <p>Whether with our large community or with your small group of friends, you'll be participating in a huge crowd-sourced review database</p>
  </div>
  <div class="large-4 columns">
    <h4>A better way to review</h4>
    <p>Hundreds of bite-sized reviews at your fingertips. Rated not by quality, but by how much our users would recommend it to their friends</p>
  </div>
</row>
