@import "foundation_and_overrides";
th, td {
  text-align: center;
}

a:link, a:active, a:visited, a:focus{
  color: $text-primary-color;
  background-color: inherit;
}

a:hover{
  color: $primary-color;
}

#notice{
  color: $primary-color;
}

#logout{
  background-color: $primary-color;
}

html.turbolinks-progress-bar::before {
  background-color: $primary-color;
  height: 30px !important;
  z-index: 100;
}

.menu {
  margin: 10px;
}

ul.global-search-bar{
  input {
    width: 95%;
    margin: 1% 2%;
  }
}
