
@import "foundation_and_overrides";
.tt-cursor,.tt-suggestion:hover {
  background-color: $f-dropdown-list-hover-bg;
}

.tt-highlight {
  font-weight: bolder;
}

.tt-suggestion {
  cursor: default;
}

.tt-input,.tt-hint {
  width: auto;
  background-color: #ff0000;
}

.button:visited{
  color:$button-font-color;
}

.twitter-typeahead{
  .f-dropdown{
    max-width: none;
  }
  width: 100%;
}

input.data-typeahead-global .tt-hint{
    position: relative;
}
